<h1>These are all the nearby restaurants</h1>
<ul>
  <% @restaurants.each do |restaurant| %>
     <li><%= "#{restaurant.name} - #{restaurant.category} - #{restaurant.address}"%> || <%= link_to "See details", restaurant_path(restaurant.id)%> || <%= link_to "write a review", new_restaurant_review_path(restaurant.id)%>  </li>
  <% end %>
</ul>
