<h1>These are all the nearby restaurants</h1>
<ul>
  <% @restaurants.each do |restaurant| %>
     <li><%= "#{restaurant.name} - #{restaurant.category} - #{restaurant.address}"%></li>
  <% end %>
</ul>
